*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    text-align: center;
}


main{
    width: 50%;
    margin: 40px auto;
    background-color: rgb(209, 184, 184);
    border-radius: 15px;
    padding: 50px;

    
}


img{

    width: 70%;
    margin: 10px;
    border-radius: 20px;
}


p{
    margin-top: 20px;
    text-align: justify;
    font-size: 28px;
}


.container--amor1{
    height: 180px;
    margin-top: 20px;
    background-color: rgb(185, 164, 150);
    padding: 40px;
    border-radius: 15px;
    margin-bottom: 50px;
    
}

ul{
    margin: 15px;
    font-size: 20px;
    text-align: justify;
}


span{
    font-size: 30px;
    margin-top: 20px;
}


.container--amor2{
 
    margin-top: 25px;
    background-color: rgb(185, 164, 150);
    padding: 40px;
    border-radius: 15px;
    margin-bottom: 60px;
    font-size: 20px;
    text-align: justify;
}



    

    










